.timeslot-list{
    justify-content: space-evenly;

    .date-container{
        color: rgba(0, 0, 0, 0.54);
        position: fixed;
        margin-right: 10px;
        background-color:rgba(236,236,236,0);
        top: 65px;
    }
}

