.treatment-container{
     width: 100%;
}


@media screen and (min-width: 500px) {
    .treatment-container {
        width: 480px
    }
  }



  .treatment-list{
        width: 400px;
        max-height: 515px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
  }