.time-slot-lists-container{
    max-height: 340px;
    margin-top: 1.3rem;
    .loaderContainer{
        height: 400px;
    }
}
// MATERIAL UI CLASSES
.MuiDialogActions-root{
    justify-content: space-between!important;
}


.calendar-picker-container{
    margin-bottom: 85px;
}

