main {
    min-height: calc(100vh - 8.5rem);
    padding: 0 1rem;
}

.main-container{
    width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}


@media screen and (max-width: 500px) {
    .main-container {
        width: 390px;
    }
  }
