*{
    box-sizing: border-box;
}

.form-title{
    padding: 7px;
}

.restart-btn{
    border-radius: 5px;
    border: none;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 0.9rem;
    color: #808080;
    position: absolute;
    left: 0;
    top: 169px;
    cursor: pointer;
}


@media screen and (min-width: 500px) {
    .restart-btn{
        left: 192PX;
    }
  }