
.cancel-appointment{
    transition: 0.5s;
    i{
        color:white;
        font-size: 1.1rem;
        margin-right: 5px;
    }
    .cancel-input-wrapper{
        fieldset{
            margin-left: 20px;
        }
        align-items: center;
    }
    .cancel-form-title {
        color : #172b4d;
    }
    .apointment-details{
        text-align: center;
    }
    .trash-btn{
        color :white;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 10px;
        font-size: 1rem;
        background-color: #e91e63;
        cursor: pointer;
    }
}

.rotate{
    transform: rotate(45deg);
}

