.home-page{
    width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-header{
    height: 54px;
    background-color: pink;
    width: 500px;
}